/* Dark Theme Base Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #e0e0e0;
  line-height: 1.6;
  overflow-x: hidden;
}
.event-details {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #0b0606;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* Animations */
.animate {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}
.animate.delay-1 {
  animation-delay: 0.3s;
}
.animate.delay-2 {
  animation-delay: 0.6s;
}
.animate.delay-3 {
  animation-delay: 0.9s;
}
.animate.delay-4 {
  animation-delay: 1.2s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Title */
.event-title {
  font-size: 2.5em;
  font-family: Georgia, serif;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

/* Overview Section */
.event-overview {
  font-size: 1.2em;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}
.event-overview h2 {
  color: #ffffff;
  margin-bottom: 10px;
}

/* Slider Section */
/* .image-slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  height: 400px;
}
.slider-inner {
  display: flex;
  width: 400%;
  height: 100%;
  animation: slide 3s infinite;
}
.slider-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0%);
  }
} */

/* Rules and Regulations Section */
.event-rules {
  margin-bottom: 20px;
}
.event-rules div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 0;
}

.event-rules div h2 {
  font-size: 1.8em;
  font-family: Verdana, sans-serif;
  margin-bottom: 10px;
  color: #ffffff;
}

.event-rules div p {
  padding: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fca730;
}

.event-rules p,
.event-rules li {
  font-size: 1em;
  font-family: Arial, sans-serif;
  color: #d0d0d0;
}

.event-details h2 {
  color: #fff;
}
.event-details h3 {
  color: #f7b9b9;
}

/* Winning and Scoring Criteria Section */
.winning-criteria {
  margin-bottom: 20px;
}
.winning-criteria h2 {
  font-size: 1.8em;
  font-family: Verdana, sans-serif;
  margin-bottom: 10px;
  color: #ffffff;
}
.winning-criteria p,
.winning-criteria li {
  font-size: 1em;
  font-family: Arial, sans-serif;
  color: #d0d0d0;
}

/* Prizes Section */
.prizes-section {
  margin-bottom: 20px;
}
.prizes-section h2 {
  font-size: 1.8em;
  font-family: Verdana, sans-serif;
  margin-bottom: 10px;
  color: #ffffff;
}
.prizes-section p,
.prizes-section li {
  font-size: 1em;
  font-family: Arial, sans-serif;
  color: #d0d0d0;
}

/* Venue Section */
.event-venue {
  margin-bottom: 20px;
}
.event-venue h2 {
  font-size: 1.8em;
  font-family: Verdana, sans-serif;
  margin-bottom: 10px;
  color: #ffffff;
}
.event-venue p {
  font-size: 1em;
  font-family: Arial, sans-serif;
  color: #d0d0d0;
}

/* Notes Section */
.event-notes {
  padding: 15px;
  background: #360e09;
  border-left: 5px solid #007bff;
  margin-bottom: 20px;
}
.event-notes h2 {
  font-size: 1.8em;
  font-family: Verdana, sans-serif;
  margin-bottom: 10px;
  color: #ffffff;
}

.event-notes h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #ff7300;
}
.event-notes p {
  font-size: 1em;
  font-family: Arial, sans-serif;
  color: #d0d0d0;
}

/* Bullet List Styles */
ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}
li {
  margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .event-title {
    font-size: 2em;
  }
  .event-rules h2,
  .winning-criteria h2,
  .prizes-section h2,
  .event-venue h2,
  .event-notes h2,
  .event-overview h2 {
    font-size: 1.5em;
  }
  .event-overview,
  .event-rules p,
  .winning-criteria p,
  .prizes-section p,
  .event-venue p,
  .event-notes p {
    font-size: 0.9em;
  }
  .image-slider {
    height: 250px;
  }
}

.head-section {
  display: flex;
  justify-content: space-between;
}

.redirect-elem {
  margin-right: 1rem;
  display: flex;
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.down-arrow {
  display: inline-block;
  animation: upDown 0.8s infinite alternate ease-in-out;
}

.btn-redirect {
  color: white;
  padding: 0 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  animation: upDown 0.8s infinite alternate ease-in-out;
}
.btn-redirect:hover {
  color: #04ff00;
}

.registerBtn {
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  background-color: #0b780b;
  border: 3px solid #3eb900;
  display: block;
  text-align: center;
  scroll-margin-top: 50vh;
}

.registerBtn:hover {
  background-color: #0b780b60;
  border: 3px solid #57ff03;
  color: white;
}

hr {
  border: 1px solid #ffffff70;
  margin: 2rem;
}

/* gamming tab  */

.tab {
  scroll-margin-top: 20vh;
}

.tab-links {
  display: flex;
  /* border: 1px solid white; */
  justify-content: space-around;
  align-items: center;
}

.tab-links a img {
  height: 50px;
}

.tab-links a img:hover {
  transform: scale(130%);
}

@media (max-width: 480px) {
  .tab-links a img {
    height: 30px;
  }
  .tab {
    scroll-margin-top: 10vh;
  }
}

/* sliderTest */

.main-wrapper {
  max-width: 1440px;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
}
.slider-wrapper {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.slides {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slides h1 {
  position: relative;
  top: 5rem;
  left: 1rem;
  backdrop-filter: blur(7px);
  width: 9rem;
  padding: 1rem;
}
.slides img {
  /* width: 100%; */
  height: 100%;
  object-fit: contain;
  border-radius: 0.3rem;
}
.slider-btns {
  position: absolute;
  /* top: 50%; */
  z-index: 2;
  width: 100;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-btns span {
  padding: 0rem 1.2rem;
  font-size: 2rem;
  background: rgba(1, 208, 255, 0.295);
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
.dots {
  position: absolute;
  width: 100%;
  top: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  z-index: 1;
}

.dots .dot {
  width: 1rem;
  height: 1rem;
  background-color: white;
  opacity: 0.2;
  border-radius: 50%;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .slider-wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 680px) {
  .slider-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .slider-wrapper {
    width: 90%;
    height: 200px;
  }
  .slider-btns span {
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    border-radius: 40%;
  }
  .slides img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.3rem;
  }
  .dots .dot {
    width: 0.5rem;
    height: 0.5rem;
  }
}
